/*---NAVIGATION STYLES---*/
nav {
    min-height: 10vh;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    position:fixed;
    top:0;
    right:0;
    left:0;
    font-family:Trebuchet MS;
  }
  
  #logo {
    max-width: 100px;
    margin-left:50px;
    margin-right: auto;
    cursor: pointer;
  }
  
  nav ul {
    align-items: center;
    
    list-style: none;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 5px 23px;
    border-radius: 30px;
    border: 2px transparent solid;
    transition: all 0.4s ease;
  }
  
  nav a:hover {
    border: 2px solid;
    background-color:#1CE7B2 ;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-center {
    align-items: center;
    justify-content: center;
  }
  header {
    position: sticky;
    top: 0px;
    justify-content: flex-end;
    width: 98.7vw;
    z-index: 5;
    background: black;
  }
  
  
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  h1{
      text-align:center;
      background-color:#0C64C3;
      padding-top:30px;
      padding-bottom:30px;
      font-size:60px;
      display: block;
      padding-top:8%;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      }
  
 #firstpara{
      font-size:25px;
      background-color:#7F75B2;
      border-radius:12px;
      text-align:justify;
      padding-left:1%;
      padding-right:1%;
      padding-top:15px;
      padding-bottom:15px;
      font-family: Arial, Helvetica, sans-serif; 
  }
  
h2{
      text-align:center;
      font-family: Arial, Helvetica, sans-serif;
}
  
  div.secondpara {
    text-align: center;
    background-color:#B275A4;
    padding-bottom:15px;
    padding-top:2%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul.list {
    display: inline-block;
    text-align: left;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
  /* Container needed to position the overlay. Adjust the width as needed */
  .container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8D929A;
    overflow: hidden;
    width:350px;
    height:205px;
    transform: scale(0);
    transition: .3s ease;
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .container:hover .overlay {
    transform: scale(1);
  }
  
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .info {
    color: black;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image{
      width:350px;
      height:200px;
  }
  
  .inline{
      display:flex;
      margin-left:10%;
      margin-right:10%;
  }
  
   /*---FOOTER SECTION---*/
  .row {
    display: flex;
  }
  ul {
    list-style: none;
  }
  
  .firstrow {
         height: 300px;
     }  
  
  
  .footerpart {
   width: 100%;
   height:400px;
   background-color:black;
   padding-left:0px ;
   padding-top: 1%;
   color: white;
   position:static;
   font-family:Trebuchet MS;
   
  }
  
  
  .firstcolumn {
  float: left;
  width: 45%;
  padding: 10px;
  height: 300px;
  
  }
  
  .Secondcolumn {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
  
  }
  
.firstrow:after {
  content: "";
  display: table;
  clear: both;
  
  }
  
  
  #watericon {
   list-style: none;
   
  }
  
  #watericon li{
  display: inline;
  }
  
  #footerNav {
  list-style: none;
  }
  #footerNav li a {
  text-decoration: none;
  color:white ;
  padding-top: 1%;
  
  }
  
  
  #footerNav li{
  padding-bottom:1%;
  }
  
  
  .bottom {
  
  width: 100%;
  padding-left:0.5% ;
  padding-top: 0.5%;
  padding-bottom: 0.8%;
  text-align:center;
  }
  
  /*---Back to top button styling---*/
  
  .btn1{
      background-color:rgb(174, 166, 166);
      color:black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      left: 52%;
      position: relative;
      text-align-last: right;
      margin-left:575px;
      
     }
     .btn1:hover{
        background-color: #44BAE7;
        color:black;
     }
  